		#mainHead{
			margin-left:1920px;
			padding: 0;
			width: 100%;
			overflow: hidden;
			background-color: #1c263c;
 			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8); 			
		}

		#header h1{
			font-family: 'Rancho', cursive;
			font-size: 40px;
			color: white;
			padding:0 0 0 15px;
		}

		#header h1 span{
			transition: font-size 0.5s;
			transition-timing-function: ease-in-out;
		}
		#header h1 span:hover{
			font-size: 45px;
			cursor: pointer;
		}


		#nav ul{
			margin: 0;
			padding: 0;
			overflow: hidden;
			background: #455A64;
			font-family: 'Rancho', cursive;

		}

		#cont{
			list-style: none;
			float: left;
			width: 120px;
		}
	
		#nav li a{

			position: relative;
			text-decoration: none;
			text-align: center;
			padding: 5px 10px;
			display: block;
			color: white;
			font-size: 20px;
			transition: font-size 0.5s;
			transition-timing-function: ease-in-out;
		}

		#nav li a:hover{
			background: #325d81;
			font-size: 25px;
		}

		#usrLogged{
			list-style: none;
			float: right;
			width: 140px;
		}

		#usrLogged1{
			list-style: none;
			float: right;
			width: 40px;
		}

		#usrLogged1 img{
			height: 21px;
			width: 21px;
			border-radius: 100%;
		}

		#nav div{
			position: absolute;
			visibility: hidden;
			margin: 0;
			padding: 0;
			background: rgba(28, 38, 60, 0.69);
		}

		#nav div a:link,#nav div a:visited{
			position: relative;
			display: block;
			margin: 0;
			padding: 5px 10px;
			width: auto;
			text-align: left;
			text-decoration: none;
			font-size: 20px;
			transition: font-size 0.5s;
			transition-timing-function: ease-in-out;
		}

		#nav div a:hover{
			font-size: 25px;
		}

		#drpdown3{
			position: absolute;
			visibility: hidden;
			margin: 0;
			padding: 0;
			background: rgba(28, 38, 60, 0.69);
		}

		#drpdown3 button{
			padding: 8px 10px;
		}

		#style
		{	margin-left:2099px;
			height:7px;
			width:100%;
			background-color: #f4a024; 
		}

		#prodCont{
			display: flex;
			flex-direction: row;
			padding-top: 40px;
		}

		#leftCont{
			margin: 0;
			padding: 40px;
			width: 25%;
			height: 100%;
		}

		#rightCont{
			margin: 0;
			width: 74%;
			height: 100%;
			display: flex;
			flex-direction: column;
			font-family: 'Rancho', cursive;
			background-color: rgba(215,204,200 ,1);
		}
		#imageP{
			height: 500px;
			width: 340px;
			box-shadow: 10px 8px 10px 0px rgba(0,0,0,0.8); 
			transition: height 0.5s,width 0.5s;
			transition-timing-function: ease-in-out;
		}
		#imageP:hover{
			height: 515px;
			width: 355px;
			cursor: pointer;
		}

		#R1{
			height: 100%;
			font-size: 20px;
		}

		#R1 h1{
			margin: 0;
		}

		#divHead{
			width: 100%;
			height: 100%;
			background-color: rgba(28,38,60,0.5);
		}

		#divHead h1{
			padding: 10px 20px;
			color: white;
		}

		#bookDetail{
			font-size: 25px;
			padding: 10px 0;
		}

		.line{
			height: 100%;
			width: 200px;
			border-bottom: 1px solid rgba(158,158,158 ,1);
		}

		#custDiv{
			padding: 10px 0;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: row;
			line-height: 5px;
			background-color: rgba(28,38,60,0.5);
		}

		#shop{
			border: 1px solid rgba(158,158,158 ,1);
			border-radius: 5px;
			margin-left: 50px;
			margin-right: 150px;
			width: 200px;
			height: 100%;
			padding: 10px 20px; 
			background-color: #f5f5f5;
		}
		#comment{
			font-size: 20px;
		}
		#comment textarea{
			border-radius: 5px;
			font-size: 15px;
		}

		#subButt{
			border: none;
			border-radius: 5px; 
			background-color: #f4a024;
			padding: 10px 18px;
			width: 100px;
			margin-top: 5px;
		}

		#buy, #cart{
			border: none;
			border-radius: 5px; 
			background-color: #f4a024;
			padding: 10px 18px;
			width: 150px;
			margin: 0 25px 10px; 
		}

		#buy:hover, #cart:hover, #subButt:hover{
			background-color: rgba(251,140,0 ,1);
			cursor: pointer;
		}

		.line1{
			border-bottom: 1px solid rgba(141,110,99 ,1);
			height: 100%;
			width: 90%;
			margin: 30px 0;
		}

		#R2{
			height: 100%;
			font-size: 20px;
		}

		#R2 h1{
			margin: 0;
		}

		#bookDetail1{
			font-size: 25px;
			padding: 10px 50px;
			margin: 0;
			word-spacing: 5px;
		}

		#R3{
			height: 100%;
			font-size: 20px;
		}

		#R3 h1{
			margin: 0;
		}

		

		#reviews{
			margin: 0;
			padding: 0;
			background-color: rgba(28,38,60,0.5);
			word-spacing: 5px;
		}

		#commSec{
			display: flex;
			flex-direction: row;
			height: 100%;
			width: 100%;
			font-size: 28px;
		}

		#uimage{
			height: 40px;
			width: 40px;
			border-radius: 100%;
			margin: auto 20px;
		}

		#uimage img{
			height: 40px;
			width: 40px;
			border-radius: 100%;
			margin: 0;
		}

		#userkanaam{
			padding: 0;
			margin: 0;
		}
