		#mainHead{
					margin-left:1920px;
					padding: 0;
					width: 100%;
					overflow: hidden;
					background-color: #1c263c;
 					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8); 
 					/*text-shadow: 4px 4px 4px #aaa;	*/	
            
					}

			

		#header h1{
			font-family: 'Rancho', cursive;
			font-size: 40px;
			color: white;
			padding:0 0 0 15px;
		}
#header h1 span{
            transition:font-size 0.4s  ;
            transition-timing-function: ease-in-out;
}
		#header h1 span:hover{
			font-size: 45px;
            cursor: pointer;
			
		}

		#nav ul{
			margin: 0;
			padding: 0;
			overflow: hidden;
			background: #455A64;			
			font-family: 'Rancho', cursive;

		}

		#cont{
			list-style: none;
			float: left;
			width: 120px;
		}

		#usrLog
		{
			list-style: none;
			float: right;
			
		}  
		

		#nav li a{

			position: relative;
			text-decoration: none;
			text-align: center;
			padding: 5px 10px;
			display: inline-block;
			color: white;
			font-size: 20px;
            transition:font-size 0.2s  ;
            transition-timing-function: ease-in-out;
		}

		#nav li a:hover{
			background: #325d81;		
			font-size: 25px;
		}

		#nav div{
			position: absolute;
			visibility: hidden;
			margin: 0;
			padding: 0;
			background: rgba(28, 38, 60, 0.69);
		}

		#nav div a:link,#nav div a:visited{
			position: relative;
			display: block;
			margin: 0;
			padding: 5px 10px;
			width: auto;
			text-align: left;
			text-decoration: none;
			font-size: 20px;
			transition: font-size 0.5s;
			transition-timing-function: ease-in-out;
		}

		#nav div a:hover{
			font-size: 25px;
		}

		#middleContent{
			padding: 30px;
			background-color: rgba(215,204,200 ,1);
			font-family: 'Rancho', cursive;
			font-size: 20px; 
			line-height: 20px;
		}

		#middleContent img{
			height: 140px;
			width: 100px;
			margin: 10px 55px;
			box-shadow: 8px 6px 10px 0px rgba(0,0,0,0.8);
		}

		.item{
			margin-right: 54px;
			border-radius: 10px;
			width: 210px;
			background-color: rgba(28,38,60,0.5);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 01);
		}

		.item:hover{
			cursor: pointer;
		}

		.books,.clothes,.electronics{
			display: flex;
		}
		.SIGNUP{
			border-radius:4px;
			color:white;
			background-color:  #336699;
			font-family: 'Rancho', cursive;
			text-align:center;
			border: none; 			
			min-width: 120px;
			overflow:hidden;
			font-size:17px;
			padding:8px 8px 10px 6px;
			margin-right: 2px;

		}
		.LOGIN{
			border-radius:4px;
			color: #336699;
			background-color: #FAFAFA;	
			font-family: 'Rancho', cursive;		 
			text-align:center;
			border: none; 			
			min-width: 120px;
			overflow:hidden;
			font-size:17px;
			padding:8px 8px 10px 6px;
			margin-right:4px; 
		}
		.SIGNUP span,.LOGIN span {
  			cursor: pointer; 
  			position: relative;
  			transition: 0.6s;

			}

		.SIGNUP:hover span,.LOGIN:hover span {
 			 padding-left: 25px;
			}
		#mainContent
			{
				background-color: none;
			}
		.seperator
		{
			height:10px;
			width:100%;
			background-color: #1c263c;
			margin: 50px 0;
		}
		#style
		{	margin-left:2099px;
			height:7px;
			width:100%;
			background-color: #f4a024; 
		}

		#mainContent p a{
			display: block;
			color: black;
			background-color: #f4a024;
			text-align: center;
			padding: 10px;
			text-decoration: none;
		}

		#mainContent p a:hover{
			background-color: rgba(251,140,0 ,1);
		}
	

